[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = Dynamic Resource Reservation\n\
\n\
This project is archived and read-only as on 2018-08-10.\n\
\n\
https://lists.opendaylight.org/pipermail/tsc/2018-August/010058.html
	state = read only
[access "refs/*"]
	owner = group ldap/gerrit-reservation-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
