[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = Dynamic Resource Reservation
[access "refs/*"]
	owner = group ldap/gerrit-reservation-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-reservation-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-interactive reservation users
	forgeAuthor = group Non-interactive reservation users
	forgeCommitter = group Non-interactive reservation users
	push = group Non-interactive reservation users
	pushMerge = group Non-interactive reservation users
	label-Code-Review = -2..+2 group ldap/gerrit-reservation-committers
	label-Code-Review = -1..+1 group Non-interactive reservation users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive reservation users
	label-Verified = -1..+1 group ldap/gerrit-reservation-committers
	submit = group ldap/gerrit-reservation-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-reservation-committers
	forgeCommitter = group Non-interactive reservation users
	push = group Non-interactive reservation users
	push = +force group ldap/gerrit-reservation-committers
	pushTag = group Non-interactive reservation users
	pushTag = +force group ldap/gerrit-reservation-committers
